[Unit]
Description=noVNC Web Access Console
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/bash /opt/noVNC/utils/novnc_proxy
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
